.contact-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 6rem;

  .header {
    padding: 1rem 0 4rem 0;
    display: flex;
    flex-flow: column;
    height: 100%;

    .title {
      text-align: center;
    }
    .subtitle {
      text-align: center;
    }
  }

  .form {
    position: relative;
    width: 26rem;
  }

  .background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #f7f8fc;
    z-index: -1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    transform: translate(-10rem, -2rem);
  }
}
