.contact-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 6rem;

  .header {
    padding: 0 0 4rem 0;
    display: flex;
    flex-flow: column;

    height: 100%;

    .title {
      text-align: center;
    }
    .subtitle {
      text-align: center;
    }
  }

  .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .form {
    position: relative;
    width: 26rem;
    margin-right: 6rem;
  }

  .background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #f7f8fc;
    z-index: -1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    transform: translate(0, 11rem);
  }

  .contact-info {
    h2 {
      margin-bottom: 2rem;
    }

    .info-item {
      display: flex;
      margin-bottom: 1.5rem;
    }

    .icon {
      width: 1.6rem;
      margin-right: 1.5rem;
    }
  }
}
